/* GENERAL CSS */

* {
  font-family: 'Spectral', serif;
}

/* Index (Homepage) CSS */

.body {
  background-image: url("imgs/background_general2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Cards */

.card {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 32rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
  }

  p,
  a {
    transition: opacity .3s ease-out;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  p {
    inset: auto auto 80px 30px;
  }

  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }

  &:hover p,
  &:hover a {
    opacity: 10;
    transition: opacity .5s .1s ease-in;
  }

  &:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
    filter: brightness(70%)
  }

}


.material-symbols-outlined {
  vertical-align: middle;
}

