nav {
    background-color: #333;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.nav-buttons a {
    color: white !important;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.nav-buttons a:hover {
    background-color: #555;
}